* {
    box-sizing: border-box;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* close commented backslash hack */
.container{ 
  max-width: 1100px;
  min-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.kaire{float:left;display: block;width: 50%}
.desine{float:left;display: block;width: 50%}
img{width: 100%}

.column div {
    display: table-cell;
    vertical-align: middle;}
.column div {
    display: table-cell;
    vertical-align: middle;
    height: 468px;
}
.column {
    width: 50%;
    float: left;
    height: 468px;
    display: table;
}

