.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
* {
box-sizing: border-box;
}
body{
     background-image: url("img/fond.png");
     font-family: verdana,sans-serif;
     font-size: 16px;
     color:#666;
     }
h1,h2,h3,h4{
     font-family: 'Oswald', sans-serif;
     margin-top: 0;
     margin-bottom: 20px;
     margin-left:0;
     margin-right:0;
     color:#B8CB21;
     font-size: 24px;
     /*http://fontawesome.io/icon/pagelines/*/

}
.container{
     width: 750px;
     margin-left:auto;
     margin-right: auto;
     /*background-color: red;*/
}
.header{background-color: #B8CB21;padding: 20px 25px}

.logo{float:left;}
.nav{float:right;margin-top: 50px}
.nav ul{
     list-style: none;
     margin: 0;
     padding: 0;
     list-style-position: inside;}
.nav li{float: left;}
.nav a{
     padding: 5px 10px;
     display: block;
     text-decoration: none;
     text-transform: uppercase;
     color:#2c4726;
     font-weight: bold;}
.main{
     background-color: white;
     padding: 20px 25px}
.kaire{
     float: left;
     width: 35%;
     }  
.kaire article{
     padding-right: 25px;
     border-right: solid 1px #666;
     margin-right: -1px;
}
.desine{float: right;
     display:block;
     width: 65%;
}
.desine article{
     padding-left: 25px;
     border-left: solid 1px #666;
}
.sekcija{}


.desine img{width: 50%;float: left;margin-right: 10px}

section img{
     width: 100%;
     margin-bottom: 10px;
}
.btn{
     background-color: #B8CB21;
     display: inline-block;
     padding: 10px;
     text-decoration: none;
     color:white;
}
article footer{text-align: right;}
.apacia{text-align: center;}
