.aa{
	width: 200px;
	height: 200px;
	background-color: blue;
	margin-left: 50px;
	border-radius: 20px;
	transition: 1s;

}
.hide{
	display:none;
	transition: 1s;
}

.bluee{
	width: 200px;
	height: 300px;
	transform: rotate(90deg);
	background-color: green;
}