h1{width: 100%;
margin-left: 15px}
h2{margin-left: 15px}
img{max-width: 100%}
.clearfix::after {
    content: '';
    display: block;
    clear:both;}
.header{
	width:100%;
	background-color: gray;
	color: white;
}
.meniu{background-color: pink;width: 100%}
.meniu li{ float: left; margin-right: 15px; margin-top: 10px;margin-bottom: 10px }
.meniu ul{ list-style: none;}
.content{background-color: green;width: 70%;color:white;float:left;}
.content p {margin-left: 15px;margin-right: 15px}
.sidebar{width: 30%;background: blue;float:left;}
.main{background: red}
