

video{
	width: 100%;
	transition: 2s;
	z-index: -1;
	position: relative;
}
ul{
	display: flex;
	justify-content: space-around;
}
li{
	padding: 20px;
	border-radius: 10px;
}
a:hover{
	background-color: #eee;
	color: #666;
	text-shadow: none;
	width: 100%;
}
/*li:hover{
	background-color: #eee;
	color: #666;
}*/
header a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 13px;
	padding: 20px;
	border-radius: 10px;
	/*background-color: red;*/
	/*margin-top: 30px*/
}
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #94badf;
}
h1,h2,h3{
	font-family: 'Courgette', cursive;
}
.container p{
font-family: 'Courgette', cursive;
}
h1,h2{
	font-size: 30px;
	text-align: center;
}
h2{
	color: #4d74a7 ;
	margin-top: 20px;
}
h3{
	font-size: 15px;
	color: #A7C540;
	text-align: center;
	padding: 10px;
}
.col a{
	font-size: 9px;
	color: #A7C540;
	text-decoration: none;
	margin-bottom: 10px;
}
header h1,p{
	text-align: center;
	color: white;
	line-height: 2;
	font-family: 'Courgette', cursive;
}
.header{
	position: absolute;
	top:0;
  margin: 0 auto;
	width: 100%;
	/*z-index: 0;*/
	text-shadow: 5px 5px 5px #000;
	/*text-shadow: horizontalus seselis vertikalus seselis seselio dydzis spalva*/
}
.title{
	padding-top: 15%;
}
.container{
	width: 80%;
	margin: 0 auto;
	margin-top: -100px;
	/*z-index: 111;*/
	background-color: white;
	padding-bottom: 20px;
}

form{
	background-color: #4d74a7;
	width: 100%;
}
input{
	background: none;
	border: none;
	margin-left: 20px;
	padding: 20px;
	color: #94badf;
	font-size: 25px;
}

img{
	width: 100%;
	z-index: 5;
	position: relative;
}

.row span{
	padding: 10px;
	background-color: #A7C540;
	border-radius: 10px;
	color: white;
	position: absolute;
	z-index: 10;
	font-size: 10px;
	margin-top: 10px;
	margin-left: -10px;

background: rgba(210,255,82,1);
background: -moz-linear-gradient(top, rgba(210,255,82,1) 23%, rgba(179,244,74,1) 36%, rgba(145,232,66,1) 50%, rgba(145,232,66,1) 58%);
background: -webkit-gradient(left top, left bottom, color-stop(23%, rgba(210,255,82,1)), color-stop(36%, rgba(179,244,74,1)), color-stop(50%, rgba(145,232,66,1)), color-stop(58%, rgba(145,232,66,1)));
background: -webkit-linear-gradient(top, rgba(210,255,82,1) 23%, rgba(179,244,74,1) 36%, rgba(145,232,66,1) 50%, rgba(145,232,66,1) 58%);
background: -o-linear-gradient(top, rgba(210,255,82,1) 23%, rgba(179,244,74,1) 36%, rgba(145,232,66,1) 50%, rgba(145,232,66,1) 58%);
background: -ms-linear-gradient(top, rgba(210,255,82,1) 23%, rgba(179,244,74,1) 36%, rgba(145,232,66,1) 50%, rgba(145,232,66,1) 58%);
background: linear-gradient(to bottom, rgba(210,255,82,1) 23%, rgba(179,244,74,1) 36%, rgba(145,232,66,1) 50%, rgba(145,232,66,1) 58%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0 );

}
.row{
	display: flex;
	flex-direction: row;
	padding: 0 20px 0 20px;
}
.col{
border: solid 1px #aaa;
margin: 10px;
padding-bottom: 10px;
}
.col:hover{
	box-shadow: 5px 5px 10px;
}
.col:hover span{
	transition: 2s;
	animation: bounce 2s infinite;
}

.container p,a{
	color: black;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-size: 10px;
	margin: 10px;

}
.big{
	width: 180%;
}
a{
	text-decoration: none;
}
footer a{
	color: white;
}
footer li{
display: inline-block;
}
footer p{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 20px;

}
footer{
	margin-top: 40px;
}
footer a{
	padding: 20px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
@media(max-width:767px) {
	.title{
		display: none;
	}
	video{
		width: 100%;
		/*height: 300px;*/
	}
	input{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	ul{
		display: block;
		text-align: center;
	}
	li{
		margin:10px;
		padding: 5px;
	}

	.row{
		display: block;
	}
	.big{
		width: 96%;
	}
	.container{
		margin-top: -30px;
	}
	footer span{
		display: block;
	}
	header a{
		display:block;
		margin:0px;
		padding:5px 0 5px 0;
		/*padding-left: 30%;
		padding-right: 30%;*/
		text-align: center;
	}
	footer span{
		display: block;
	}

	.col a{
		text-align: center;
		padding: 0 auto;
	}
}
